html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    
}

html, body{
  scroll-snap-type: block proximity;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --gradient-1: linear-gradient(320deg, #fc2169, #e221ff);
    --gradient-2: linear-gradient(320deg,#22fcb0,#2181fa);
    --primary-color-1: #2C2C34;
    --primary-color-2: #2191FB;
    --primary-color-3: #FF6B6B;
    --primary-color-4: #2E3138;  
    --primary-color-5: #44CF6C;
    --box-shadow: 0.5rem 0.5rem 0.5rem black;
}

section{
  height: 100vh;
}

/* navigation bar section starts here */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  transition: top 0.3s;
  background-color: black;
  z-index: 1;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav {
  display: none;
}

.desktop-nav .logo { 
  width: 50vw;
  font-size: 2rem;
  padding-left: 1rem;
}

/* Flowing text starts  */

.desktop-nav  .logo h1{
  font-size: 2rem;
  --bg-size: 300%;
  --color-one: #22fcb0;
  --color-two: #2181fa;
  background: linear-gradient(
                45deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 6s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .desktop-nav .logo {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
/* Flowing text ends */

/* underline styling start and color transition start */ 

.desktop-nav-list .nav-list{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50vw;
  padding: 0 1rem 0 1rem;
}

.desktop-nav-list .nav-list .menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-nav .nav-list .menu-item-container hover{
  margin: 0 2rem;
}

.desktop-nav .nav-list .menu-item-container a {
  color: white;
  text-align: center;
  
  text-decoration: none;  
  display: block;
  position: relative;
  padding: 0.2rem 0;
}

.desktop-nav .nav-list .menu-item-container a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--gradient-2);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.desktop-nav .nav-list .menu-item-container a:hover::after,
.desktop-nav .nav-list .menu-item-container a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2rem, 0);
}

.desktop-nav .nav-list .menu-item-container a {
  overflow: hidden;
}

.desktop-nav .nav-list .menu-item-container a::after {
  transform-origin: bottom left;
  transform: scaleX(0);
}

.desktop-nav .nav-list .menu-item-container a:hover::after, 
.desktop-nav .nav-list .menu-item-container a:focus::after{
  transform: scaleX(1);
}

.desktop-nav .nav-list .menu-item-container .menu-item{
  display: inline-block;
  margin: 0 2vw 0 2vw;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.section-home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* underline styling start and color transition end */

@media (max-width: 768px){

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    display: grid;
  }

  /* Flowing text starts  */
  
  .mobile-nav .logo h1{
    text-align: center;
    font-size: 2.5rem;
    --bg-size: 300%;
    --color-one: #22fcb0;
    --color-two: #2181fa;
    background: linear-gradient(
                  45deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 6s infinite linear;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .desktop-nav .logo {
      animation: move-bg 12s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }

  .mobile-nav-list {
    display: none;
    position: fixed;
    background-color: black;
    width: 50vw;
    height: 100vh;
    padding-top: 10vh;
    transition: right 1s;
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle:checked ~ nav {
    display: block;
  }

  .nav-toggle-label {
    padding: 1vw 0 0 2vw;
    font-size: 1.5rem;
    position: absolute;
    color: white;
  }

  .nav-toggle-label span:after {
    content: "\2630"; /* hamburger icon */
    font-size: 2rem;
    color: white;
  }

  #nav-toggle:checked ~ .nav-toggle-label span:after{
    content: "\2715"; /* 'X' icon */
    font-size: 2rem;
    color: white;
  }

  .mobile-nav .mobile-nav-list .nav-list .menu-item-container .menu-item{
    display: inline-block;
    margin: 0 0 0 1rem;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
    color: white;
    font-size: 3rem;
  }

  a {
    text-decoration: none;
}

  a:hover {
    text-decoration:none; 
    cursor:pointer;  
  }

  .mobile-nav .mobile-nav-list .nav-list .menu-item-container .menu-item:focus {
    font-weight: 1000;
    font-size: 3.25rem;
  }
}

/* navigation bar section ends here */

/* section home ends here */

/* section about starts here */

.section-about{
  background: var(--gradient-2);
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.section-about img{
  width: 70vw;
  margin-top: 6rem;
}

.about-main{
  color: white;
  display: flex;
  justify-content: center;
}

.about-description{
  color:white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* section about ends here */

/* section team starts here */

.about-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.about-us h1 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 1rem;
}


.section-team {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350vh;
}

.team-members-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 95vw;
  margin-top: 5vh;
  padding-top: 25vh;
}

.team-member {
  text-align: center;
  height: 100vh;
  width: 25vw;
}

.person-img {
  width: 100%;
  margin-bottom: 0vh;
}

.name {
  font-size: 5vh;
  margin-top: 0vh;
  color: white;
}

.description {
  font-size: 2vh;
  margin-top: 0vh;
  color: white;
}

/* section team ends here */

/* section team starts here */

.section-projects{  
  background: var(--gradient-2);
  height: 100vh;
}

.slogan-container{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.project-container{
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evently;
}

.project{
  position: relative;
  width: 20rem;
  height: 30rem;
  border-radius: 0.5rem;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.project:hover{
  transform: rotateY(180deg);
}
.project p{
  padding-left: 1rem;
  padding-right: 1rem;
}
.project .front{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: white;
  text-align: center;  
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.project .back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  background-color: white;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  
  transform: rotateY(180deg);
}

.back button{
  position: relative;
  display: default;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

.back button:hover{
	border-style: solid;
	border-color: var(--gradient-2);
}

.back a{
	color: var(--gradient-2);
	font-size: 1.5rem;
}

.b1{
  margin-top: 1rem;
}
.b2 {
  margin-top: 1rem;
}

.front .image-1{
  padding-top: 2.5rem;
  width: 50%;
  height: auto;
}

.front .image-2{
  padding-top: 2.5rem;
  width: 50%;
  height: auto;
  padding-bottom: 2rem;
}

.back .project-list{
  font-size: 0.75rem;
  padding-top: 1rem;
}

/* section projects ends here */

/* Style for both "About Us" and "Members" headings */
.about-us h1,
.section-about h1,
.slogan-container h1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: .2em;
}

/* Style for team member names */
.team-member h1.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for team member descriptions */
.team-member p.description {
  font-size: 16px;
  margin-bottom: 0;
}

/*
canvas-envelope{
    
}
*/

/* this for the animated rectangle*/
canvas {
    width: 50vw !important;
    height: 50vh !important;
    position: absolute;
    top: 25vh;
    left: 25vw;
    --angle: 0deg;
  /* … */
    border: 5px solid;
  border-image-slice: 1;
  border-image: linear-gradient(var(--angle), #22fcb0,#2181fa) 1;
  animation: 10s rotate linear infinite;
}


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}