html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    
}

html, body{
  scroll-snap-type: block proximity;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --gradient-1: linear-gradient(320deg, #fc2169, #e221ff);
    --gradient-2: linear-gradient(320deg,#22fcb0,#2181fa);
    --primary-color-1: #2C2C34;
    --primary-color-2: #2191FB;
    --primary-color-3: #FF6B6B;
    --primary-color-4: #2E3138;  
    --primary-color-5: #44CF6C;
    --box-shadow: 0.5rem 0.5rem 0.5rem black;
}

section{
  height: 100vh;
}

/* navigation bar section starts here */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  transition: top 0.3s;
  background-color: black;
  z-index: 1;
}

.logo { 
  width: 50vw;
  font-size: 2rem;
  padding-left: 1rem;
}

/* Flowing text starts  */

.logo h1{
  font-size: 2.5rem;
  --bg-size: 300%;
  --color-one: #22fcb0;
  --color-two: #2181fa;
  background: linear-gradient(
                45deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 6s infinite linear;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
/* Flowing text ends */

/* underline styling start and color transition start */ 

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50vw;
  padding: 0 1rem 0 1rem;
}

.menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-container hover{
  margin: 0 2rem;
}

.menu-item-container a {
  color: white;
  text-align: center;
  
  text-decoration: none;  
  display: block;
  position: relative;
  padding: 0.2rem 0;
}

.menu-item-container a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--gradient-2);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  overflow: hidden;
}

.menu-item-container a::after {
  transform-origin: bottom left;
  transform: scaleX(0);
}

.menu-item-container a:hover::after,
.menu-item-container a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2rem, 0);
  transform: scaleX(1);
}

.menu-item{
  display: inline-block;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

.menu-item:focus {
  font-weight: 1000;
  font-size: 2rem;
}

.nav-toggle {
  display: none;
}

/* underline styling start and color transition end */

.section-home{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* media query for mobile nav bar */ 

@media (max-width: 768px){

  .logo {
    width: fit-content;
    margin: auto;
    padding: 0;
  }

  .nav-list-container {
    display: none;
    position: fixed;
    background-color: black;
    width: 0px;
    height: 100vh;
    padding: 4rem 4rem 0 0;
    transition-duration: 500ms;
    transition-property: width;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .nav-toggle:checked ~ .nav-list-container {
    display: flex;
    width: 200px;
  }

  .nav-toggle-label {
    padding: 0.25rem 0 0 1rem;
    font-size: 2rem;
    position: absolute;
    color: white;
  }

  .nav-toggle-label span:after {
    content: "\2630"; /* hamburger icon */
    font-size: 2.5rem;
    color: white;
  }

  #nav-toggle:checked ~ .nav-toggle-label span:after{
    content: "\2715"; /* 'X' icon */
    font-size: 2.5rem;
    color: white;
  }

  .menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-item-container hover{
    margin: 0 2rem;
  }
  
  .menu-item-container a {
    color: white;
    text-align: center;
    
    text-decoration: none;  
    display: block;
    position: relative;
    padding: 0.2rem 0;
  }
  
  .menu-item-container a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--gradient-2);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    overflow: hidden;
  }
  
  .menu-item-container a::after {
    transform-origin: bottom left;
    transform: scaleX(0);
  }
  
  .menu-item-container a:hover::after,
  .menu-item-container a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2rem, 0);
    transform: scaleX(1);
  }
  
  .menu-item {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: white;
    font-size: 2.5rem;
  }
  
  .menu-item:focus {
    font-weight: 1000;
    font-size: 2.5rem;
  }
}

/* navigation bar section ends here */

/* section home ends here */

/* section about starts here */

.section-about{
  background: var(--gradient-2);
  height: 100vh;
}

.section-heading{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.about-description{
  position: relative;
  display: flex;
  justify-content: center;
  top: 25%;
  padding: 0 2rem 0 2rem;
  color: white;
  font-size: 1.5rem;
}

/* section about ends here */

/* section team starts here */

.section-team {
  background-color: black;
  height: fit-content;
}

.section-heading {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.team-grid-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: flex-start;
  padding: 1rem;
}

.team-member {
  flex-basis: 33.33%;
  padding: 1rem;
}

.team-member .name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.person-img {
  width: 100%;
}

.team-member .description {
  color: white;
}

@media (max-width: 480px) {

  .section-heading {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .team-grid-columns {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .team-member {
    width: 65%;
    padding: 0.5rem;
  }

  .team-member .name {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}

@media (min-width: 481px) and (max-width: 786px){

  .section-heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }

  .team-member {
    flex-basis: 33.33%;
    padding: 1rem;
  }
}
/* section team ends here */

/* section projects starts here */

.section-projects{  
  background: var(--gradient-2);
  height: fit-content;
}

.project-container{
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evently;
}

.project{
  position: relative;
  width: 20rem;
  height: 30rem;
  border-radius: 0.5rem;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.project:hover{
  transform: rotateY(180deg);
}
.project p{
  padding-left: 1rem;
  padding-right: 1rem;
}
.project .front{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: white;
  text-align: center;  
  box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.project .back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  background-color: white;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  
  transform: rotateY(180deg);
}

.back button{
  position: relative;
  display: default;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

.back button:hover{
	border-style: solid;
	border-color: var(--gradient-2);
}

.back a{
	color: var(--gradient-2);
	font-size: 1.5rem;
}

.project-button{
  margin-top: 1rem;
}
.project-button {
  margin-top: 1rem;
}

.front .image-1{
  padding-top: 2.5rem;
  width: 50%;
  height: auto;
}

.front .image-2{
  padding-top: 2.5rem;
  width: 50%;
  height: auto;
  padding-bottom: 2rem;
}

.back .project-list{
  font-size: 0.75rem;
  padding-top: 1rem;
}

/* section projects ends here */

/* Style for both "About Us" and "Members" headings */
.slogan-container h1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

/* this for the animated rectangle*/
canvas {
    width: 50vw !important;
    height: 50vh !important;
    position: absolute;
    top: 25vh;
    left: 25vw;
    --angle: 0deg;
  /* … */
    border: 5px solid;
  border-image-slice: 1;
  border-image: linear-gradient(var(--angle), #22fcb0,#2181fa) 1;
  animation: 10s rotate linear infinite;
}


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}